
   <div class="footer" fxLayout="column" fxLayoutAlign="space-around center" >
    <div class="bloc1" fxLayoutGap="35px" fxLayout="column" fxLayoutAlign="center center">

        <div class="titre">
            Besoin de plus d'informations
        </div>
        
        <div fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="center start" >
            <input placeholder="ENTRER VOTRE EMAIL" class="EMAIL">
            <button mat-stroked-button class="button">SOUSCRIRE</button>     
        </div>
      
        </div>
        <hr class="line" align="center" width="100%" color="white" size="2">
        <div class="bloc2" fxLayout="row" fxLayoutGap="120px" fxLayoutAlign="center start">
            <img src="../../../../assets/images/edacy-logo.png"  />
    
            <div fxLayoutGap="15px" fxLayout="column" fxLayoutAlign="none start" >
      <div class="texte">
        COMPAGNIE
      </div>
      <div  fxLayoutGap="0.3px" fxLayout="column" fxLayoutAlign="none start" >
    
      <div class="texte1">
          A PROPOS
      </div>
      <div class="texte1">
          ETUDIANTS
      </div>
      <div class="texte1">
        ENTREPRISES
    </div>
     
    </div>
            </div>
    
            <div fxLayoutGap="15px" fxLayout="column" fxLayoutAlign="none start" >
                <div class="texte">
                  LIENS RAPIDES
                </div>
                <div  fxLayoutGap="0.3px" fxLayout="column" fxLayoutAlign="none start" >
                  
                <div class="texte1"> 
                    WORKLEARNING
                </div>
                <div class="texte1">
                    OPENLEARNING
                </div>
                </div>
            </div>
    
            <div fxLayoutGap="15px" fxLayout="column" fxLayoutAlign="space-between start" >
                <div class="texte">
                    SOCIAL LINKS
                </div>
                <div  fxLayoutGap="30px" fxLayout="row" fxLayoutAlign="space-between start" >
                    <img src="../../../../assets/images/medium.png"/>
                    <img src="../../../../assets/images/instagram.png"/>
                    <img src="../../../../assets/images/facebook.png"/>
                    <img src="../../../../assets/images/linkedin.png"/>
                    <img src="../../../../assets/images/twitter.png"/>
                </div>
            </div>            
        </div>

</div> 


  
 
       


   
   

    