

<div class="home">
    <div fxLayoutGap="35px" class="bloc" fxLayout="column" fxLayoutAlign="space-between center" >
        <div class="entete">
        Nos Partenaires
        </div>
        <div class="texte">
            Nous offrons à nos partenaires l'accessibilité à tous nos WorkLearners <br>
            avant de les placer sur notre plate-forme et bien plus encore.
        </div>
        <div fxLayoutGap="70px" fxLayout="row" fxLayoutAlign="space-around center" >
            <img  src="../../../../assets/images/cofina.png" class="cofina" />
            <img  src="../../../../assets/images/unicef.png" class="unicef" />
            <img  src="../../../../assets/images/gainde-logo.png" class="gainde" />
            <img  src="../../../../assets/images/expresso-logo.png" class="expresso" />
        
        </div>
        <button mat-stroked-button class="button">DEVENEZ PARTENAIRE</button>   
        </div>
</div>

<!-- 

-->