<div class="menu1">

    <div class="first">
     
       
    </div>

  
    <div class="first-bloc" fxLayoutGap="30px" fxLayout="column" fxLayoutAlign="center start" >
        <div  class="first-bloc-entete">
            Aspire Farther
        </div>
        <div class="first-bloc-texte"> 
            Maîtrisez les outils techniques de pointe, <br>
            en mettant l'accent sur la pensée critique <br>
            et la résolution de problèmes pour vous <br>
            procurer la liberté de choisir votre job.
        </div>


        <div  fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center start" >


            <div >
                <a class="first-bloc-texte" href="https://www.youtube.com/watch?time_continue=10&v=TwA_1ruJHdA&feature=emb_logo">
                REGARDE LE FILM
            </a>   
            </div>
            <img  src="../../../../assets/images/play-button.png" class="play" />
        </div>
    </div>

    




    <div class="entete-bloc" fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="space-around center">
        <div class="entete-titre">
            Les entreprises passent au numérique

        </div>
        <div class="entete-texte">
            Accédez aux dernières compétences numériques. Chez EDACY, nous nous <br>
            engageons à répondre aux besoins de numérisation des entreprises, soit par la <br>
            mise à disposition de talents hautement qualifiés, soit par la formation <br>
            d'employés aux compétences techniques et comportementales leurs permettant <br>
            d'être plus productifs et plus réactifs aux attentes futures du marché.
        </div>
        <button mat-stroked-button class="entete-button">EN SAVOIR PLUS</button>   


    </div>



    <div class="bloc" fxLayout="column" fxLayoutAlign="start center">

        <div class="row-bloc1" fxLayout="row" fxLayoutAlign="start center">
            <img fxFlex="50" src="../../../../assets/images/home2.png" class="bloc-image" />

            <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-around center">
                <h1 class="column1">
                    Une solution gagnante pour<br> 
                    les entreprises
                </h1>
                <div class="column2">
                    Par notre sélection de talents prouvée, les <br>
                    entreprises peuvent donc recruter des <br>
                    WorkLearners formés en toute tranquillité. <br>
                    Bénéficiez de nos offres exclusives en <br>
                    devenant l'un de nos partenaires.
                </div>
               
                    <button mat-stroked-button class="column3">DEVENEZ PARTENAIRE</button>   
               
            </div>
        </div>

        <div class="row-bloc2" fxLayout="row" fxLayoutAlign=" start center">

            <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-around center">
                <h1 class="column4">
                    Apprendre en faisant et en <br> pratiquant
                </h1>
                <div class="column5">
                    Après 3 mois de spécialisation intense, tu <br>
                    seras prêt à rejoindre une entreprise pour 6 <br>
                    mois, ce qui te permettra de te déployer et de <br>
                    convaincre l'employeur par tes compétences. <br>
                </div>
                <div>
                    <button mat-stroked-button class="column3">S'INSCRIRE AU WORKLEARNING</button>   
                </div>
            </div>

            <img fxFlex="50" src="../../../../assets/images/home3.png" class="bloc-image" />
        </div>
    </div>



<div class="bloc1" fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="space-around center">
    <div class="bloc1-titre">
         WorkLearning
    </div>
    <div class="bloc1-texte">
        Chaque programme a été conçu pour répondre aux besoins des entreprises, permettant à<br>
        chaque WorkLearner de voir augmenter ses chances d'être recruté.
    </div>
    <button mat-stroked-button class="bloc1-button">DEMARRE TON WORKLEARNING</button>   
</div>

<div class="bloc2" fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="space-around center">
    <div class="bloc1-titre">
        OpenLearning
    </div>
    <div class="bloc1-texte">
        Les programmes OpenLearning ont été conçus pour permettre aux professionnels<br>
        d’acquérir de nouvelles compétences afin d’être compétitifs dans un marché hautement <br>
        concurrentiel. Les entreprises ont la possibilité de renforcer les compétences de leurs <br>
        ressources humaines pour être encore plus performantes.
    </div>
    <button mat-stroked-button class="bloc2-button">DEMARRE TON OPENLEARNING</button>   
</div>

<div class="bloc3" fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="space-around center">
    <div class="bloc1-titre">
        Emploi garanti à 100%
    </div>
    <div class="bloc1-texte">
        Nous te remboursons la formation si tu ne trouves pas d'emploi. Inscris-toi pour<br>
        9 mois de formation en ligne, en classe et en entreprise tout en gagnant plus <br>
        qu’il ne t’en coûte.
    </div>
</div>  


<div fxLayoutGap="50px" class="bloc4" fxLayout="row" fxLayoutAlign="center start" >
    <div fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-around center" >
        <div class="bloc4-titre">
            Emploi garanti

        </div>
        <div class="bloc4-texte">
            Si six mois après l'obtention <br>
            de ton certificat <br>
            WorkLearning, tu n'as pas <br>
            d'emploi, ta formation sera <br>
            entièrement remboursée en <br>
            fonctions de certains critères <br>
            d'admissibilité.

        </div>
    </div> 
    <div fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-around center" >
        <div class="bloc4-titre">
            Bourses d'études

        </div>
        <div class="bloc4-texte">
            EDACY recherche l'équité en <br>
            matiere d'éducation et offre <br>
            une bourse complète pour <br>
            un total de 10% des talents, <br>
            en fonction des critères <br>
            d'éligibilité d'EDACY
 
        </div>
    </div>
    <div fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-around center" >
        <div class="bloc4-titre">
            Coûts et revenus

        </div>
        <div class="bloc4-texte">
            Vous commencez votre <br>
            formation par une <br>
            spécialisation "phase <br>
            payante" d'une durée de 3 <br>
            mois suivie de 6 mois de <br>
            WorkLearning dans une <br>
            entreprise où vous serez <br> 
            rémunéré.
            
        </div>
    </div>
</div>      
</div>
<app-partenariats>
   
</app-partenariats>
