
<div class="bloc">
  <div>
    <img src="../../../../assets/images/video-banner--enterprise.jpg" class="banniere">
  </div>
  
    <div fxLayoutGap="30px" fxLayout="column" fxLayoutAlign="start" class="row0" >
      <p class="entete-row0">
        La transformation numérique
      </p>
      <p class="texte-row0"> 
        Les talents sont la clé pour façonner, <br>
         déployer et piloter de nouvelles <br>
          technologies afin de faciliter votre <br>
           transformation numérique.
      </p>
      <div  fxLayoutGap="10px" fxLayout="row" fxLayoutAlign=" start" >
        <p class="texte-row0">
          REGARDER LE FILM
        </p>
        <img src="../../../../assets/images/play-button.png" class="play" >
      </div>
    </div>

    <div fxLayoutGap="70px" fxLayout="column" fxLayoutAlign="space-around center" class="row1" >
      <div fxLayoutGap="40px" fxLayout="column" fxLayoutAlign="space-around center">
        <p class="entete-titre">
          Créer une culture de l'innovation
        </p>
        <p class="entete-texte">
          Renforcez vos équipes avec des technologies de pointe. Pour répondre à vos <br>
          besoins d'amélioration continue, EDACY développe vos collaborateurs et forme  <br>
          de nouveaux talents pour répondre à vos  besoins numériques.
        </p>
        <button mat-stroked-button class="entete-button">ENGAGER UN WORKLEARNER</button>   
      </div>

      <div fxLayout="column" fxLayoutAlign="end none" >
      </div>
      
      <div fxLayoutGap="40px" fxLayout="column" fxLayoutAlign="space-around center">
        <p class="entete-titre1">
          Recevez une analyse gratuite de vos <br>
          besoins digitaux
        </p>
        <p class="entete-texte">
          Aujourd'hui, le succès dépend de l'agilité digitale de vos employés. EDACY <br>
          développe les compétences des talents numériques pour changer leur façon  <br>
          d'apprendre, de penser, de résoudre et de créer des solutions numériques.
        </p>
        <button mat-stroked-button class="entete-button1">NOUS CONTACTER</button>   
  
      </div>
      
    </div>
      
   <app-partenariats>

   </app-partenariats>
  
</div>
