
<div class="banniere" fxLayoutAlign="end center">
    <div fxLayoutGap="30px" fxLayout="column"  class="row0" >
      <p class="entete-row0">
        La transformation numérique
      </p>
      <p class="texte-row0"> 
        Les talents sont la clé pour façonner, <br>
         déployer et piloter de nouvelles <br>
          technologies afin de faciliter votre <br>
           transformation numérique.
      </p>
      <div  fxLayoutGap="10px" fxLayout="row" fxLayoutAlign=" start" >
        <p class="texte-row0">
          REGARDER LE FILM
        </p>
        <img src="../../../../assets/images/play-button.png" class="play" >
      </div>
    </div>
  </div>
  
    

    

    <div fxLayoutGap="70px" fxLayout="column" fxLayoutAlign="space-around center" class="row1" >
      <div fxLayoutGap="30px" fxLayout="column" fxLayoutAlign="center center">
        <p class="entete-row1">
          Créer une culture de l'innovation
        </p>
        <p class="texte-row1">
          Renforcez vos équipes avec des technologies de pointe. Pour répondre à vos <br>
          besoins d'amélioration continue, EDACY développe vos collaborateurs et forme  <br>
          de nouveaux talents pour répondre à vos  besoins numériques.
        </p>
        <button mat-stroked-button class="button-row1">ENGAGER UN WORKLEARNER</button>   
      </div>
  
      <div class="row2" fxLayout="column" fxLayoutAlign="start center">
          <div  class="row3" fxLayout="row" fxLayoutAlign="start center" >
            <div fxFlex="50" class="image1">
            </div>
            <div  fxLayoutGap="50px" fxFlex="50" fxLayout="column" fxLayoutAlign="space-around start" >
                  <p class="column1 texte1">
                    OpenLearning: Transformer <br> vos employés.
                  </p>
                  <p class="column2 texte1">
                    Une approche de formation consistant en des <br>
                    cours et des ateliers en ligne conçus pour <br>
                    accélérer les compétences de vos équipes en <br>
                    matière d'idéation, de développement <br>
                    d'applications, de données et d'évaluation des <br>
                    opportunités numériques.
                  </p>
                  <button mat-stroked-button class="button2 texte1">VOIR NOS PROGRAMMES</button>
            </div>
          </div>

          <div class="row4" fxLayout="row" fxLayoutAlign="start center" >
            <div fxLayoutGap="50px" fxFlex="50" fxLayout="column" fxLayoutAlign="space-around start" >
              <p class="column1 texte2">
                WorkLearning : Transformez <br>
                vos talents avant <br>
                d'embaucher
              </p>
              <p class="column2 texte2">
                En six mois, testez et formez votre <br>
                WorkLearner avec nos experts et mentors <br>
                internationaux sans les tracas, et soyez les <br>
                premiers à les embaucher.
              </p>
              <button mat-stroked-button class="button1 texte2">ENGAGER UN WORKLEARNER</button>
        </div>
           
            <div fxFlex="50" class="image2">
            </div>
            
          </div>
       
    
     </div>
      
      <div fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center">
        <p class="entete-titre1">
          Recevez une analyse gratuite de vos <br>
          besoins digitaux
        </p>
        <p class="texte-row1">
          Aujourd'hui, le succès dépend de l'agilité digitale de vos employés. EDACY <br>
          développe les compétences des talents numériques pour changer leur façon  <br>
          d'apprendre, de penser, de résoudre et de créer des solutions numériques.
        </p>
        <button mat-stroked-button class="entete-button1">NOUS CONTACTER</button>   
  
      </div>
      
    </div>
    
      
   <app-partenariats>

   </app-partenariats>



   <div fxLayoutGap="30px" fxLayout="column" fxLayoutAlign="center center" class="bloc6">
     <div class="entete-titre1">
     Partagez vos postes vacants pour recruter <br>
     nos talents
    </div>    
    <div class="texte-row1">
    Faites-nous part de votre cahier des charges, puis nous sélectionnerons <br>
    soigneusement les talents correspondant à votre demande
   </div>

   <div fxLayoutGap="100px" fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxLayoutAlign="center start">
      <p class="titre">
        Trouvez de rares talents
      </p>
      <p class="entete-texte1">
        Le profil que vous recherchez <br>
        à travers les canaux <br>
        traditionnels , EDACY le <br>
        trouve pour vous
      </p>
    </div>


    <div fxLayout="column" fxLayoutAlign="center start">
      <p class="titre">
        Économisez votre temps
      </p>
      <p class="entete-texte1">
        Trouver, convaincre et former <br>
        les bons candidats de la <br>
        manière la plus efficace avec <br>
        EDACY
      </p>
    </div>

    <div fxLayout="column" fxLayoutAlign="center start">
      <p class="titre">
        Précieuses informations
      </p>
      <p class="entete-texte1">
        Nous formons nos talents <br>
        pendant la spécialisation <br>
        pour qu’ils aient le profil <br>
        adéquat répondant à vos <br>
        besoins
      </p>
    </div>


  </div>
  <button mat-stroked-button class="entete-button1">NOUS CONTACTER</button>   

   </div>
  
